<!DOCTYPE html>
<html>
<head>
	<!-- 
		This page is just a test page, so you can get started.
		Here you have examples of reverse routing of urls and some more goodies.
	 -->
	{% asset "css" "style.css" %}
	
	{{scripts('css')}}
	{{scripts('head')}}
</head>
<body>
	
	<header>
		<h1>{{header}}</h1>
	</header>
	<div>
		{% js %}
		<script>
			// This Javascript is allways placed where we use scripts('js') function.
		</script>
		{% endjs %}
		
		<h2>Just some links:</h2>
		<p>
			<a href="{{url.reverse('Main.helloWorld')}}">{{lang('hello_world')}} - this is a link to the main page (this one)</a>
		</p>
		
		
		<p>
			<a href="{{url.reverse('Main.hello', {'to': 'world'}) }}">Hello to  ( click me )...</a>
		</p>
		
			
		<h2>Cool Dev tools:</h2>
		
			<ul>
				<li><a href="{{url.reverse('/reks/controller/RouteTest.index')}}">Check if syntax of all routes is OK ...</a></li>
				<li><a href="{{url.reverse('/reks/tests/Main.index')}}">Unit test REKS framework</a></li>
				<li><a href="{{url.reverse('tests/Tests.index')}}">Unit test This application</a></li>
		
			</ul>		
		<h2>Upload some files</h2>
		<form enctype="multipart/form-data" action="{{url.reverse('Main.helloWorld')}}" method="post">
			Multi testfile[]<input type="file" name="testfile[]" /><br />
			Multi testfile[]<input type="file" name="testfile[]" /><br />
			Single single<input type="file" name="single" /><br />
			
			<button>Save to cache folder.</button>
		</form>
	</div>
	<footer>
		REKS group, <a href="http://reks.pkj.no">reks.pkj.no</a>
	</footer>

	<!-- Java scripts at the bottom. -->
	{{scripts('js')}}	
</body>
</html>